-SQL schema
-SQL data
-domain objects
-DAO (HIBERNATE) and connection pool
-logging
-TESTS
-Service layer, transactions
-MVC
-REST
-MYSQL and H2 перключать профилями
-Tiles
-Validation
-file upload
-text editor
-grid
-i18n
-property files
-security
-db audit
-scheduled cleaner audits table
-JMX
