+SQL schema
+SQL data
+domain objects
+DAO (HIBERNATE)
+connection pool, property files, MYSQL and H2 перключать профилями, конфигурация в разных файлах
+db audit
+TESTS
+Service layer
+logging                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ctions
-MVC
-REST
-i18n
-Tiles
-Validation
-security
-file upload
-text editor
-grid





