+SQL schema
+SQL data
+domain objects
+DAO (HIBERNATE)
+connection pool, property files, MYSQL and H2 перключать профилями, конфигурация в разных файлах
-db audit
-logging
-Service layer, trans                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                actions
-MVC
-REST
-i18n
-Tiles
-Validation
-security
-TESTS
-file upload
-text editor
-grid





